<%- include('partials/header') %>

    <div class="container mt-5 text-center">
        <h1>Login</h1>

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-6">

            <a class="btn btn-social btn-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign In with Google
            </a>
        </div>
    </div>

    <%- include('partials/footer') %>